/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: #ffffff !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }
}


/* MOBILE VERSION */
@media (max-width: 992px) {

    /* Info panel */
    .info-panel h4{
        font-size: 18px;
    }

    .info-panel p {
        font-size: 14px;
    }

    .ipContent {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    /* Working Space */
    .workingspace {
        text-align: center;
    }

    .workingspace h1 {
        font-size: 36px;
    }

   .workingspace p {
       font-size: 16px;
   }
}